body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1, h4 {
    text-align: center;
}

div {
    margin: 20px 0;
    text-align: center;
}

input {
    margin: 10px 0;
    padding: 8px;
    width: calc(100% - 16px);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    padding: 10px;
    width: calc(100% - 16px);
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #0056b3;
}

#searchResults {
    margin-top: 10px;
    text-align: center;
}

#searchResults div {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
